@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    background-color: $primary;

    /* From uiverse.io by @WhiteNervosa */
    li {
        margin-top: 1rem;
        padding: 0 0.7rem;
        position: relative;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: color;

        a {
            color: $light-slate;
            text-transform: capitalize;
            span {
                color: $secondary;
            }
        }
    }

    li a:focus ,
    li a:hover{
        color: $secondary;
    }

    li a:focus:after,
    a:hover:after {
        width: 100%;
        left: 0%;
    }

    li a:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: $secondary;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }
}

@media screen and (max-width: 992px) {
    .menu {
        
        div.offcanvas-header,
        div.offcanvas-body {
            background-color: $primary;
        }
    }
}


