@use "../custom" as *;
@use "../components/mixins" as *;

.project {
  background-color: $primary;

  @include section-heading;

  div.bar {
    position: absolute;
    background-color: $dark-slate;
    width: 30%;
    height: 0.1rem;
    top: 37%;
    left: 50%;
  }

  h1 {
    color: $light-slate;
  }
  p {
    font-family: "Space Mono", monospace;
    font-size: 1.2rem;
    color: $light-slate;
  }

  span {
    color: $slate;
    padding-right: 0.75rem;

    i {
      padding-right: 0.2rem;
      color: $secondary;
    }
  }

  div.d-grid {
    font-size: larger;
    margin-top: 2rem;

    @include links;
    a {
      text-decoration: none;
      padding-left: 0.75rem;

      i {
        color: $slate;
      }
    }
  }
}
